<!-- @format -->
{% extends 'basic.html' %} {% block content %}
<section id="information">
  <p id="information1">
    تأسست الجمعية عام 2014 بهدف خيري غير ربحي لتقديم خدمات تشغيل لجميع فئات
    المجتمع البالغين اردنيين و لاجئين , و تعمل .الجمعية و يخدم نشاطها جميع مناطق
    المملكة الأردنية الهاشمية كما تساهم الجمعية بتدريب و تأهيل البالغين من
    المجتمع المحلي بهدف التشبيك و التشغيل مع الجهات المانحة و اصحاب العمل
    .بنواحي اقتصادية مختلفة , و فتح و ترخيص مشاريع خاصة بهم بهدف تأمين مشاريع و
    دخل مستدام للمستفيدين كما تستهدف الجمعية أبناء المدارس و الشباب الأردنيين و
    السوريين و تقوم بتقديم خدمات متنوعة لهم ( تعليم غير رسمي و دعم . نفسي
    اجتماعي بالاضافة الى دورات في المهارات الحياتية ) شاركت الجمعية بشكل واضح و
    فعال في تقديم الدعم للمجتمع المحلي و تعددت اشكال هذا الدعم فمنها ترميم
    البيوت المتهالكة و .التي بحاجة الى ترميم , توزيع المحروقات و الملابس و وجبات
    الطعام خلال فصل الشتاء للفئات الاكثر تضررا :و ظهر دور الجمعية بأثر واضح في
    المجتمعات المحلية خلال جائحة كورونا و فترات الحظر في العديد من الجوانب كان
    منها
  </p>
  <div id="information2">
    <ul>
      <li>توزيع مادتي الخبز و اللبن مجانا على المواطنين و اللاجئين</li>
      <li>
        تزويد عدد من اطباءالمنطقة بحقائب و اجهزة طبية للمساعدة في .عملية تقديم
        الخدمة الصحية للمواطنين و اللاجئين الذين يعانون من امراض مزمنة
      </li>
      <li>
        و قامت الجمعية ايضا بتدريب العديد من .الفتيات على تصنيع و اعداد الخبز و
        المعجنات لغايات صناعتها و توزيعها على جميع فئات المجتمع المحلي
      </li>
    </ul>
  </div>
  <p id="information3">
    بالاضافة الى كل ما ذكر سابقا من اعمال قامت بها الجمعية عملت الجمعية ايضا على
    الاهتمام بشكل كبير جدا بذوي الاحتياجات الخاصة ابتداءا من تخصيص المداخل و
    المواقف الخاصة بهم الى تأمينهم بدورات تدريبية على العديد من الحرف و المشاريع
    التي كان لها اثر كبير عليهم من الناحية المعنوية و المادية , كما تقدم الجمعية
    لهم الرعاية الصحية و النفسية من خلال موظفين مختصين في الجمعية بتقديم عملية
    الاحالة اللازمة الى العديد من المنظمات الانسانية و المراكز الخاصة بهم , كما
    قامت .الجمعية ايضا بدعم مركز الامل لذوي الاحتياجات الخاصة بباص نقل و غرفة
    مجهزة خصيصا لذوي الاحتياجات الخاصة و منذ تأسيس الجمعية حتى الآن حصل 573 شخص
    على منح صغيرة لانشاء مشاريع صغيرة و تراخيص مشاريع اقتصادية صغيرة بدعم من
    .المنظمات الدولية
  </p>
  <h3>
    : و لنذهب الى دور الجمعية في تنفيذ العديد من المشاريع , حيث قامت الجمعية
    بتنفيذ عدة مشاريع بشكل ناجح جدا و من هذه المشاريع ما يلي
  </h3>

  <!-- <table border="3">
    <tr>
      <th>اسم المشروع</th>
      <th>الجهة الداعمة</th>
      <th>الفئة المستهدفة</th>
      <th>التكلفة الاجمالية</th>
    </tr>
    <tr>
      <td>مشروع مكاني</td>
      <td>Unicef</td>
      <td>
        -الاطفال السوريين و الاردنيين من عمر ( 0-18 ) - اليافعين ( 18-24 ) -
        الامهات السوريات و الاردنيات
      </td>
      <td>110,000 دينار سنويا</td>
    </tr>
    <tr>
      <td>مشروع التوعية ( ACF )</td>
      <td>ACF</td>
      <td>السوريين و الاردنيين من عمر ( 18-45 )</td>
      <td>20,000 دينار سنويا</td>
    </tr>
    <tr>
      <td>مشروع ترخيص المشاريع المنزلية الصغيرة ( IRD )</td>
      <td>UNHCR</td>
      <td>اصحاب المشاريع الصغيرة السوريين و الاردنيين</td>
      <td>38,000 دينار سنويا</td>
    </tr>
    <tr>
      <td>مشروع مصنع المخللات</td>
      <td>USAID</td>
      <td>المجتمع المحلي</td>
      <td>70,000 دينار</td>
    </tr>
    <tr>
      <td>مشروع وزارة الشباب</td>
      <td>البنك الدولي</td>
      <td>الشباب في مراكز الشباب في لوا بني كنانة</td>
      <td>48,000 دينار</td>
    </tr>
  </table> -->

  <br />
  <br />
  <table border="1">
    <tr>
      <th>اسم المشروع</th>
      <th>الجهة الداعمة</th>
      <th>الفئة المستهدفة</th>
      <th>التكلفة الاجمالية</th>
    </tr>
    {% for row in data %}
    <tr>
      <td>{{ row.project }}</td>
      <td>{{ row.supporter }}</td>
      <td>{{ row.audience }}</td>
      <td>{{ row.cost }}</td>
    </tr>
    {% endfor %}
  </table>
  <h3>
    : و شاركت الجمعية ايضا في عمل الكثير من المبادرات التي تحافظ على ديمومة
    الجمعية و من اهم هذه المبادرات
  </h3>
  <table border="3">
    <tr>
      <th>اسم المبادرة</th>
      <th>تاريخ تأسيس المبادرة</th>
      <th>الفئة المستهدفة</th>
      <th>عدد المستفيدين</th>
    </tr>
    <tr>
      <td>مبادرة نعمة</td>
      <td>2017</td>
      <td>المجتمع المحلي</td>
      <td>غير محدد</td>
    </tr>
    <tr>
      <td>مبادرة صحتك بالدنيا</td>
      <td>2019</td>
      <td>النساء اللواتي يعانين من السمنة</td>
      <td>45 سيدة</td>
    </tr>
    <tr>
      <td>مبادرة بنك الملابس</td>
      <td>2020</td>
      <td>المجتمع المحلي</td>
      <td>غير محدد</td>
    </tr>
  </table>

  <br />
  <br />
  <h3>
    و بالاضافة الى كل ما ذكر توفر الجمعية مساحات امنة للاطفال و الامهات داخلية و
    خارجية <br />
    و تحتوي الجمعية على قاعة تتسع الى مئتي متدرب و قاعة تتسع الى مائة متدرب و
    اربعة قاعات تتسع كل قاعة الى 25 متدرب .
  </h3>

  <h2>
    و تأمل الجمعية دائما الى تطوير اعمالها الخيرية في المجالات كافة على مستوى
    المملكة الاردنية الهاشمية<br />
    في ضل قيادة حضرة صاحب الجلالة الملك عبدالله الثاني ابن الحسين حفظه الله و
    رعاه و امده بموفور الصحة و العافية .
  </h2>

  <br />
  <br />
  <!-- about.html -->

  <h1>About Us</h1>
  <div class="slideshow-container">
    {% for about in abouts %}
    <div class="mySlides fade">
      <div class="numbertext">{{ forloop.counter }} / {{ abouts|length }}</div>
      <img src="{{ about.Image.url }}" style="width: 100%" />
      <div class="caption">{{ about.About }}</div>
    </div>
    {% endfor %}

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <!-- The dots/circles -->
  <div style="text-align: center">
    {% for about in abouts %}
    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
  </div>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</section>

{% endblock %}
